@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #e3646e;
    --purple: #bb72e9;
    --blue: #3996db;
    --green: #82bc4f;
    --yellow: #eabd5f;

    --base-gray-100: #e2e4e9;
    --base-gray-200: #c0c4ce;
    --base-gray-300: #878EA1;
    --base-gray-400: #292c34;
    --base-gray-500: #12181d;
    --base-gray-600: #0d0e11;

    --font1-family: 'Asap', sans-serif;
    --font1-text-lg: 800 56px/120% var(--font1-family);
    --font1-text-md: 800 24px/120% var(--font1-family);
    --font1-text-sm: 800 16px/120% var(--font1-family);

    --font2-family: 'Inconsolata', sans-serif;
    --font2-text: normal 20px/120% var(--font2-family);

    --font3-family: 'Maven Pro', sans-serif;
    --font3-text-md: normal 16px/140% var(--font3-family);
    --font3-text-sm: normal 14px/140% var(--font3-family);
}


#page {
    width: 100%;
    height: 750px;
    
}

#page1 {
    background-image: url(assets/backgrounds/Background_Intro.png);
    background-size: cover;
    width: 100%;
    height: 800px;
}

#setor1 {
    padding: 120px 163px 183px 163px;
}

.photo {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;

}

.avatar-container {
    position: relative;
}

.photo #perfil img{
    width: 170px;
    height: 170px;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px var(--red);
}


#cod {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 0;
    right: 16px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello {
    font: var(--font2-text);
    color: var(--base-gray-100);
    margin-bottom: 8px;

    span{
        color: var(--red);
    }
}

.cargo {
    font: var(--font1-text-lg);
    color: var(--base-gray-100);
    margin-bottom: 20px;
}

.sobre {
    font: var(--font3-text-sm);
    color: var(--base-gray-300);
    padding-bottom: 80px;
}

#icons1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    
    
    
}
.tecnology1 {
    color: var(--base-gray-200);
    font: var(--font3-text-md);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--base-gray-400);
    border-radius: 30px;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--base-gray-400);
    
}

.tecnology1:hover {
    cursor: pointer;
    transition: 0.7;
}


.tecnology2 {
    color: var(--base-gray-200);
    font: var(--font3-text-md);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--base-gray-400);
    border-radius: 30px;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--base-gray-400);
}

.tecnology2 svg path {
    fill: var(--red);
}
.tecnology2:hover {
    cursor: pointer;
    transition: 0.7;
}

.tecnology3 {
    color: var(--base-gray-200);
    font: var(--font3-text-md);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--base-gray-400);
    border-radius: 30px;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--base-gray-400);

}

.tecnology3 svg path {
    fill: var(--blue);
}

.tecnology3:hover{
    cursor: pointer;
    transition: 0.7;
}

.tecnology4 {
   color: var(--base-gray-200);
    font: var(--font3-text-md);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--base-gray-400);
    border-radius: 30px;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--base-gray-400);
}

.tecnology4 svg path {
    fill: var(--yellow);
}

.tecnology4:hover{
    cursor: pointer;
    transition: 0.7;
}

.arrow {
    size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 57px;
}

#setor2 {
    height: 917px;
    background-color: #16181d;
    width: 100%;
    
}

.destaques {
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin-top: 72px;
    }
    
}

.destaques span {
    font: var(--font2-text);
    color: var(--red);
}

.destaques h2 {
    margin-top: 8px;
    font: var(--font1-text-md);
    color: var(--base-gray-100);
    margin-bottom: 56px;
}

#cards {
    margin-inline: 163px;
}

.card-projeto1 {
    background-color: var(--base-gray-400);
    padding: 12px;
    border-radius: 8px;
    width: 330px;
    height: 280px;
}

.projeto-travel1 {
    width: 306px;
    height: 156px;
    object-fit: cover;
    border-radius: 8px;
}

.projeto-travel img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
}

.titulo-card1 h2 {
    font: var(--font1-text-sm);
    font-weight: bold;
    color: var(--base-gray-100);
    margin-block: 24px 8px;
}

.legenda-card1 p {
    color: var(--base-gray-200);
    font: var(--font3-text-sm);
}

.card-projeto2 {
    background-color: var(--base-gray-400);
    padding: 12px;
    border-radius: 8px;
    width: 330px;
    height: 280px;
    
}

.projeto-travel2 {
    width: 306px;
    height: 156px;
    object-fit: cover;
    border-radius: 8px;
}

.projeto-travel2 img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
}

.titulo-card2 h2 {
    font: var(--font1-text-sm);
    font-weight: bold;
    color: var(--base-gray-100);
    margin-block: 24px 8px;
}

.legenda-card2 p {
    color: var(--base-gray-200);
    font: var(--font3-text-sm);
}